body {
   color: white;
}
.container {
   width: 500px;
   margin: 0 auto;
}
.left-block {
   width: 40%;
   float: left;
}
.wrapper {
   float: left;
   width: 60%;
   background-color: black;
}

.right-block__item {
   width: 20%;
   float: right;
}
.inside-block {
   width: 80%;
   float: left;
}
.inside-block__item:nth-child(1) {
   float: right;
   width: 30%;
}
.inside-block__item:nth-child(2) {
   float: left;
   width: 25%;
}
.inside-block__item:nth-child(3) {
   float: right;
   width: 45%;
}
